body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    max-width: 1350px;
}

.brand-logo img {
    width: 50px;
}

.brand-logo h6 {
    display: inline-block;
    margin: 0 0 15px 20px;
}

nav i.material-icons {
    font-size: 1.5rem;
}

.tabs .tab {
    border-right: 1px solid #5b5b5b;
}

.tabs .tab a {
    color: white;
}

.tabs .tab a:hover {
    color: #03a9f4;
}

.dropdown-content li > a {
    font-size: 14px;
    padding: 10px 10px;
    min-width: 145px;
}

.chip {
    font-size: 11px;
    height: 28px;
    line-height: 28px;
}

.chip img {
    width: 28px;
    height: 28px;
}

.collection .collection-item {
    padding: 3px 5px;
}

.collection-item span.title {
    font-size: 0.85rem;
}

td {
    padding: 5px;
}
.collection { margin:0;}

table.dataTable tbody td {
    padding: 5px 1px;
    border-bottom: 1px #888 solid;
}

.input-field input[type=text]:focus + label {
    color: #ccc;
}

.modal{ width:75%;}

.dropdown-options-items {
    display: none;
    z-index: 9999;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.dropdown-options-items li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.dropdown-options-items li:hover {
    background-color: #DEF;
}
.dropdown-options-items ul.subnav{ display:none;}

