/* MEDIA QUERY BREAKPOINTS */

/* **************************************************************** */

/* *****************  BREAKPOINT: Tablet - 785px ****************** */

/* **************************************************************** */

@media only screen and (max-width: 785px) {
  .portfolio-site {
    width: 100% !important;
  }

  .btn-default {
    width: 100% !important;
  }

  header.masthead {
    margin-top: 0 !important;
  }

  .section {
    padding: 10px 0;
  }

  #mainNav .navbar-nav {
    background: rgba(0, 0, 0, 0.9);
    padding-top: 50px;
  }

  #mainNav .navbar-nav a {
    font-size: 1.75em;
  }

  #mainNav .navbar-brand {
    max-width: 250px !important;
  }
}

/*.bounce { @include animate-css(bounce);}
.flash { @include animate-css(flash);}
.pulse { @include animate-css(pulse, 2s, infinite);}
.rubberBand { @include animate-css(rubberBand);}
.shake { @include animate-css(shake);}
.headShake { @include animate-css(headShake);}
.swing { @include animate-css(swing);}
.tada { @include animate-css(tada);}
.wobble { @include animate-css(wobble);}
.jello { @include animate-css(jello);}
.bounceIn { @include animate-css(bounceIn);}  */

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  60%, 75%, 90%, from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes bounceInDown {
  60%, 75%, 90%, from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

/*
.bounceInLeft { @include animate-css(bounceInLeft);}
.bounceInRight { @include animate-css(bounceInRight);}
.bounceInUp { @include animate-css(bounceInUp);}
.bounceOut { @include animate-css(bounceOut);}
.bounceOutDown { @include animate-css(bounceOutDown);}
.bounceOutLeft { @include animate-css(bounceOutLeft);}
.bounceOutRight { @include animate-css(bounceOutRight);}
.bounceOutUp { @include animate-css(bounceOutUp);}*/

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*.fadeInDown { @include animate-css(fadeInDown);}
.fadeInDownBig { @include animate-css(fadeInDownBig);}
.fadeInLeft { @include animate-css(fadeInLeft);}
.fadeInLeftBig { @include animate-css(fadeInLeftBig);}
.fadeInRight { @include animate-css(fadeInRight);}
.fadeInRightBig { @include animate-css(fadeInRightBig);}
.fadeInUp { @include animate-css(fadeInUp);}
.fadeInUpBig { @include animate-css(fadeInUpBig);}
.fadeOut { @include animate-css(fadeOut);}
.fadeOutDown { @include animate-css(fadeOutDown);}
.fadeOutDownBig { @include animate-css(fadeOutDownBig);}
.fadeOutLeft { @include animate-css(fadeOutLeft);}
.fadeOutLeftBig { @include animate-css(fadeOutLeftBig);}
.fadeOutRight { @include animate-css(fadeOutRight);}
.fadeOutRightBig { @include animate-css(fadeOutRightBig);}
.fadeOutUp { @include animate-css(fadeOutUp);}
.fadeOutUpBig { @include animate-css(fadeOutUpBig);}
.flipInX { @include animate-css(flipInX);}
.flipInY { @include animate-css(flipInY);}
.flipOutX { @include animate-css(flipOutX);}
.flipOutY { @include animate-css(flipOutY);}
.lightSpeedIn { @include animate-css(lightSpeedIn);}
.lightSpeedOut { @include animate-css(lightSpeedOut);}
.rotateIn { @include animate-css(rotateIn);}
.rotateInDownLeft { @include animate-css(rotateInDownLeft);}
.rotateInDownRight { @include animate-css(rotateInDownRight);}
.rotateInUpLeft { @include animate-css(rotateInUpLeft);}
.rotateInUpRight { @include animate-css(rotateInUpRight);}
.rotateOut { @include animate-css(rotateOut);}
.rotateOutDownLeft { @include animate-css(rotateOutDownLeft);}
.rotateOutDownRight { @include animate-css(rotateOutDownRight);}
.rotateOutUpLeft { @include animate-css(rotateOutUpLeft);}
.rotateOutUpRight { @include animate-css(rotateOutUpRight);}
.hinge { @include animate-css(hinge);}
.rollIn { @include animate-css(rollIn);}
.rollOut { @include animate-css(rollOut);}
.zoomIn { @include animate-css(zoomIn);}
.zoomInDown { @include animate-css(zoomInDown);}
.zoomInLeft { @include animate-css(zoomInLeft);}
.zoomInRight { @include animate-css(zoomInRight);}
.zoomInUp { @include animate-css(zoomInUp);}
.zoomOut { @include animate-css(zoomOut);}
.zoomOutDown { @include animate-css(zoomOutDown);}
.zoomOutLeft { @include animate-css(zoomOutLeft);}
.zoomOutRight { @include animate-css(zoomOutRight);}
.zoomOutUp { @include animate-css(zoomOutUp);}
.slideInDown { @include animate-css(slideInDown);}
.slideInLeft { @include animate-css(slideInLeft);}
.slideInRight { @include animate-css(slideInRight);}
.slideInUp { @include animate-css(slideInUp);}
.slideOutDown { @include animate-css(slideOutDown);}
.slideOutLeft { @include animate-css(slideOutLeft);}
.slideOutRight { @include animate-css(slideOutRight);}
.slideOutUp { @include animate-css(slideOutRight);}
*/

.btn {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn.btn-primary {
  background-color: #51c20c;
  border: transparent;
}

.btn.btn-circle,
.btn.btn-square {
  padding: 1rem !important;
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
}

.btn.btn-circle:hover i,
.btn.btn-square:hover i {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.btn.btn-default {
  color: #51c20c;
  border: 1px solid #51c20c;
  background-color: transparent;
}

.btn.btn-default:focus,
.btn.btn-default:hover {
  color: black;
  border: 1px solid #51c20c;
  outline: none;
  background-color: #51c20c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.3em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 23.25px;
  line-height: 1.45;
  margin: 0 0 15px;
  padding: 10px 0;
  letter-spacing: -0.4px;
  font-weight: 400;
  text-align: left;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #191919;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

html {
  width: 100%;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
  height: 100%;
}

::-moz-selection {
  background: #51c20c;
  background: rgba(81, 194, 12, 0.6);
  text-shadow: none;
}

::selection {
  background: #51c20c;
  background: rgba(81, 194, 12, 0.6);
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

input,
textarea,
select {
  border: none !important;
}

a {
  transition: all 0.4s ease-in-out;
  color: #ff0000;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #9df816;
}

ul {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

ul li {
  list-style-type: square;
}

hr.green {
  background: #51c20c;
  height: 4px;
}

.overlay {
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0;
  display: block;
  z-index: 999999;
  background: #191919;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.box-wrap {
  padding: 10px;
  margin: 50px auto;
}

#app {
  margin-top: 100px;
}

section#intro h1.brand-heading {
  font-size: 50px;
}

section#intro h3.sub-heading {
  font-size: 35px;
  color: #51c20c;
}

section.section {
  padding: 50px 0;
}

section.section .sub-heading {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.section a {
  color: #51c20c;
}

section.section .section-header {
  position: relative;
  width: 100%;
  margin: 0 auto 20px;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.section .section-header a {
  color: #51c20c;
}

section.section .section-header h2 {
  font-weight: 700;
}

section.section .section-header h2:after {
  content: "";
  position: absolute;
  height: 4px;
  background: #51c20c;
  width: 100%;
  bottom: -5px;
  left: 0;
}

section.section.section-dark {
  background: linear-gradient(90deg, #000 0%, #0f0f0f 25%, #0f0f0f 75%, #000 100%);
  color: #fff !important;
}

section.section.section-dark .btn-square {
  color: #f7f0ee;
  border: 2px solid #51c20c;
  background: transparent;
  font-size: 1.4em;
  transition: all 0.4s ease-in-out;
}

section.section.section-dark .btn-square:hover {
  color: #191919;
  border-color: #191919;
  background: #9df816;
}

section.section.section-dark .btn-default {
  color: #f7f0ee;
  background: transparent;
  transition: all 0.4s ease-in-out;
}

section.section.section-dark .btn-default:hover {
  color: #6a6a6a;
  background: #f7f0ee;
}

section.section.section-light {
  background: #f7f0ee;
  color: #6a6a6a;
}

section.section.section-light h1.brand-heading {
  font-weight: bold;
  font-size: 5em !important;
  text-align: justify;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.section.section-light .btn-square {
  color: #191919;
  border: 2px solid #51c20c;
  background: transparent;
  transition: all 0.4s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.section.section-light .btn-square:hover {
  color: #9df816;
  border-color: #9df816;
  background: #191919;
}

section.section.section-light .btn-default {
  color: #6a6a6a;
  background: transparent;
  transition: all 0.4s ease-in-out;
}

section.section.section-light .btn-default:hover {
  color: #f7f0ee;
  background: #191919;
}

section.section.section-grey {
  box-shadow: inset 0 10px 5px 1px rgba(0, 0, 0, 0.3);
  background: #191919;
}

section.section.section-grey .btn-square {
  color: #fff;
  border: 2px solid #51c20c;
  background: transparent;
  transition: all 0.4s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.section.section-grey .btn-square:hover {
  color: #9df816;
  border-color: #9df816;
  background: #191919;
}

section.section.section-grey .btn-default {
  color: #fff;
  background: transparent;
  transition: all 0.4s ease-in-out;
}

section.section.section-grey .btn-default:hover {
  color: #f7f0ee;
  background: #191919;
}

footer {
  padding: 10px 0;
  height: 255px;
  background: #000;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

footer p {
  font-size: 14px;
  margin: 0;
}

footer a {
  color: #fff;
}

.full-bkg {
  background-clip: border-box;
  background-size: cover !important;
}

.form-control input {
  background: transparent !important;
}

#mainNav {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 15px solid #51c20c;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
}

#mainNav .navbar-toggler {
  -webkit-appearance: none;
  border: none;
}

#mainNav .navbar-toggler .hamburger {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#mainNav .navbar-toggler .hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 0;
  opacity: 1;
  left: 0;
  transition: 0.5s ease-in-out;
  background: #ff0000;
}

#mainNav .navbar-toggler .hamburger span:nth-child(1) {
  transform: rotate(-45deg);
}

#mainNav .navbar-toggler .hamburger span:nth-child(2) {
  transform: rotate(45deg);
}

#mainNav .navbar-toggler .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
}

#mainNav .navbar-toggler .hamburger span:nth-child(4) {
  transform: rotate(0deg);
  top: 11px;
  width: 0;
  left: 50%;
}

#mainNav .navbar-toggler .hamburger.collapsed span {
  background: #51c20c;
  transform: rotate(0deg);
}

#mainNav .navbar-toggler .hamburger.collapsed span:nth-child(1) {
  top: 0;
}

#mainNav .navbar-toggler .hamburger.collapsed span:nth-child(2),
#mainNav .navbar-toggler .hamburger.collapsed span:nth-child(3) {
  top: 11px;
}

#mainNav .navbar-toggler .hamburger.collapsed span:nth-child(4) {
  top: 22px;
}

#mainNav .navbar-brand {
  font-weight: 700;
  width: 100%;
  max-width: 325px;
}

#mainNav .navbar-brand small {
  font-size: 0.7em;
  text-transform: none !important;
}

#mainNav .navbar-brand small em {
  color: #ff0000;
  text-transform: none;
}

#mainNav .navbar-brand small span {
  color: #51c20c;
}

#mainNav a {
  color: #fff;
}

#mainNav a:hover,
#mainNav a:active {
  color: #fff;
  text-decoration: none;
}

#mainNav ul.navbar-nav li.nav-item {
  transition: all 0.3s ease-in-out;
  list-style-type: none;
}

#mainNav ul.navbar-nav li.nav-item:hover {
  color: fade(#51c20c, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav ul.navbar-nav li.nav-item:active,
#mainNav ul.navbar-nav li.nav-item:focus {
  outline: none;
  background-color: transparent;
}

#mainNav .dropdown-menu {
  background: #f7f0ee;
  color: #191919;
}

#mainNav .dropdown-menu a.dropdown-item {
  color: #191919;
}

#mainNav .collapse.in {
  display: block;
}

@media (min-width: 992px) {
  #mainNav {
    letter-spacing: 2.3px;
  }

  #mainNav.navbar-shrink .navbar-brand {
    max-width: 250px;
  }

  #mainNav .nav-link.active {
    outline: none;
    background-color: white;
  }

  #mainNav .nav-link.active:hover {
    color: white;
  }
}

#sub-nav {
  top: 85px;
}

section.contact-section {
  color: black;
  background-size: cover;
}

section.contact-section label {
  display: none;
}

section.contact-section input,
section.contact-section textarea {
  margin: 10px auto;
}

section#work .project h5 {
  color: #fff;
  letter-spacing: -0.5px;
  transition: all 0.4s ease-in-out;
}

section#work .project small {
  color: #51c20c;
  transition: all 0.4s ease-in-out;
}

section#work .project img {
  min-width: 100%;
  width: 100%;
  min-height: 250px;
  opacity: 0.5;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.55);
  transition: all 0.4s ease-in-out;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

section#work .project img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  box-shadow: 0px 1px 10px 10px rgba(99, 252, 0, 0.34);
}

section#work .project img:hover h5 {
  color: #51c20c;
}

section#work .project:hover {
  transform: translateY(-5px);
}

section#work .project:hover small {
  color: #fff;
  font-size: 1.1em;
}

section#work .project:hover h5 {
  color: #51c20c;
}

section#work .project:hover h5 i {
  color: #fff;
  font-size: 1.1em;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform-origin: center bottom;
}

@-webkit-keyframes bounce {
  20%, 53%, 80%, from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  20%, 53%, 80%, from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

section.resume-section h5,
section.resume-section p {
  margin-bottom: 5px;
}

section.resume-section h4 {
  margin-bottom: 10px;
}

section#posts img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 0.4s ease-in-out;
}

section#posts img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.auth {
  margin-top: 200px;
}

.auth .card {
  font-family: "Roboto Condensed", sans-serif;
  background: #191919;
  color: #f7f0ee;
  border-color: #f7f0ee;
}

.auth .card .card-header {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

