* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body{ background:#000; color: #f8991d; font-family: 'Creepster', cursive; background: #000 url(../images/Halloween-Background.jpg)no-repeat center center fixed; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  width:100%; height:100%; margin: 0; padding:0; overflow:hidden;}
h1, h2, h3, h4{font-family: 'Creepster', cursive; font-size:4.5em;}
h3 {font-size:2.0em; color:white;}


#overlay{ width:100%; height:100%; background:none;  }
#trees {width:100%; height:100%; /* background: url(../images/treesoverlay.png)no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
.hide{display:none; */}
header{text-shadow: 1px 1px 27px rgba(255, 226, 255, 0.73);}

#logo{width:192px;}
#bats{position:absolute;}
#boo{ font-size:2.0em; z-index:3; color: rgba(255,255,255,0.5); text-shadow: 1px 1px 27px rgba(255, 226, 255, 0.73); }

.container{ max-width: 1250px; width:100%; height:100%; margin:0 auto; text-align:center; }

#content {margin:20px auto; text-align:center;}
#left-side, #right-side{max-width:200px; min-width:200px; height:500px; float:left; border:5px #666 ridge; margin:85px 20px; padding:10px; background: rgba(0,0,0,0.3);}
#left-side p , #right-side p{ text-align:left; font: 13px arial, sans-serif; }
#left-side ul li , #right-side ol li{color:white; text-align:left;margin-left:10px;}
#right-side ol{ list-style-type:decimal; margin-left:20px; font-size: 1.5em;}  
#left-side ul li img{height:50px; width:50px;}
#bottom_buttons{ clear:both;}

span { 
    display: inline-block; 
    position: absolute;
}
button{ padding: 5px 10px; margin:  5px;}

canvas {
  display:block;
  float:left;
  margin:30px auto 0;
 border-style: solid;
 z-index:9999;
border-width: 44px 40px 40px 42px;
-moz-border-image: url(http://cloud.graphicleftovers.com/16630/177490/seamless-stone-brick-wall.jpg) 44 40 40 42 repeat;
-webkit-border-image: url(http://cloud.graphicleftovers.com/16630/177490/seamless-stone-brick-wall.jpg) 44 40 40 42 repeat;
-o-border-image: url(http://cloud.graphicleftovers.com/16630/177490/seamless-stone-brick-wall.jpg) 44 40 40 42 repeat;
border-image: url(http://cloud.graphicleftovers.com/16630/177490/seamless-stone-brick-wall.jpg) 44 40 40 42 repeat;
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(33,33,33,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(33,33,33,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(33,33,33,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(33,33,33,1) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(33,33,33,1) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(33,33,33,1) 50%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */




}