@import url(https://fonts.googleapis.com/css?family=Roboto);/*
 * Page: Login & Register
 * ----------------------
 */

.login-logo a,
.register-logo a {
  color: #787878;
}

body.login-page,
body.register-page {
  background: #fff;
}

.login-box,
.register-box {
  margin: 7% auto;
}

.login-btns {
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.login-btns a {
  color: #bcbcbc;
}

@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}

.login-box-body,
.register-box-body {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}

.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}

.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 5px 20px;
}

.social-auth-links {
  margin: 10px 0;
}

.social-auth-links .btn-social {
  width: 61%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.social-auth-links .btn-social.btn-google {
  background: #fff;
  color: #666;
  box-shadow: 1px 1px 2 rgba(0, 0, 0, 0.3);
}

.social-auth-links .btn-social.btn-google:hover {
  background: #4285F4;
  color: #fff;
}

.social-auth-links .btn-social.btn-google span {
  margin-left: 7px;
}

.social-auth-links .btn-social.btn-google svg {
  width: 46px;
  margin: -5px 0px -5px -3px;
  border: none;
}

.btn-primary {
  background-color: #000 !important;
  border: none !important;
}

