
body{
    background: #f4f4f4;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  padding:20px 50px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -moz-display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-line-pack:start;
      align-content:flex-start;
  background: #f4f4f4;
}
.full{width:100%;
}
.half{
  width: 50%;
}
.Email{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    background: #fff;
}
@media (max-width: 475px) {
.half{
      width:100%;
}
}


form[data-v-a45d8212] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  padding:0 50px;
}
label[data-v-a45d8212]{
  text-align:left;
  font-size:10px;
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
label span[data-v-a45d8212]{
  width:20%;
  vertical-align: bottom;
  line-height:42px;
  font-family: 'Work Sans', "Lato", "Arial", sans-serif;
  font-weight:bold; color: #008cfa;
}
input[type="checkbox"][data-v-a45d8212]{
  width:10%;
}
input[data-v-a45d8212] {
  width: 90%;
  padding: 5px 10px;
  margin: 2.5px 0;
  font-size:15px;
  font-family: 'Work Sans', "Lato", "Arial", sans-serif;
  background:none;
  border:none;
  border-bottom:1px solid #ccc;
}
.checkbox-container[data-v-a45d8212] {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input[data-v-a45d8212] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark[data-v-a45d8212] {
  position: absolute;
  top: 8px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #eee !important;
  border-radius:0px;
}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark[data-v-a45d8212] {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark[data-v-a45d8212] {
  background-color: #008cfa;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark[data-v-a45d8212]:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark[data-v-a45d8212]:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark[data-v-a45d8212]:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 475px) {
form[data-v-a45d8212]{
   padding: 0 10px;
}
}


@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v4/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Work Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v4/QGYpz_wNahGAdqQ43Rh314L8mNhNy_r-Kw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Work Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(https://fonts.gstatic.com/s/worksans/v4/QGYpz_wNahGAdqQ43Rh3x4X8mNhNy_r-Kw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body[data-v-9638d75e] {
  font-size: 9pt;
  font-family: 'Work Sans', "Lato", "Arial", sans-serif;
  font-weight: normal;
  color: #7b7483;
  padding: 30px;
  line-height: 15px;
  text-align: left;
}
td[data-v-9638d75e] {
  line-height: 17px;
  font-size: 9pt;
  font-family: 'Work Sans', "Lato", "Arial", sans-serif;
  color: #7b7483;
  text-align: left;
}
.normal[data-v-9638d75e] {
  font-weight: normal;
  font-size: 9pt;
  font-family: 'Work Sans', "Lato", "Arial", sans-serif;
  color: #7b7483;
  text-decoration: none;
}
strong[data-v-9638d75e] {
  color: #413c50;
  font-weight: bold;
  font-family: 'Work Sans Bold', "Lato", "Arial", sans-serif;
}
.name[data-v-9638d75e] {
  font-size: 15pt;
  font-weight: 100;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #008cfa;
  font-family: 'Work Sans Light', "Lato", "Arial", sans-serif;
}
.title[data-v-9638d75e] {
  font-weight: normal;
  font-family: 'Work Sans', "Lato", "Arial", sans-serif;
}
.blue[data-v-9638d75e] {
  color: #008cfa;
}
.pad-bot[data-v-9638d75e] {
  padding-bottom: 10px;
}


.EmailHtml {
  margin-top: 100px;
  background: #fff;
  padding: 20px;
  font-size: 10px;
}
.container {
  overflow: auto;
  height: 300px;
  margin-bottom: 100px;
}
.wrapper{
  padding:50px;
}
code {
  top: 100px;
  padding: 100px;
  text-align: left;
}
button {
  background: #008cfa;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 15px;
}
textarea {
  width: 100%;
  height: 500px;
  font-size: 8px;
  font-family: "Monospaced" sans-serif;
  border: none;
}
.var {
  color: #000000;
  font-weight: bold;
}



/*# sourceMappingURL=app.bcc3da32fdc1d83eca27df050c347650.css.map*/