body{background:#414141; font-family: Arial, sans-serif;     font-style: normal;
 font-weight: 200; color:#fff; overflow-x:hidden;}
nav{background:#00a3f6; }
p{font-weight:100;}
#main{padding:0; margin-top:190px;}
#top_schedule{color:#fff; background-color:#414141;}
.navbar-nav{ font-size:16px; font-weight:bold;text-transform: uppercase; color: #fff; background:none}
.navbar-brand{padding:5px 15px; height:61px}
.navbar-brand, .navbar-nav>li>a {color:#fff}
.affix {
  top: 0;
  width: 100%;
}
.top-bar{position: fixed; top:0; width:100%; z-index: 9999;}
.sub-nav{ position: fixed; top: 63px; width:100%;z-index: 9998; padding-top: 10px;}
#top_schedule{ position: fixed; top: 102px; width:100%;z-index: 9997;}
.sub-nav.affix{
box-shadow: 3px 3px 19px 0px rgba(50, 50, 50, 0.7);
transition: all 0.4s ease-in;
}
#top_schedule.affix{
box-shadow: 0px 5px 18px 0px rgba(50, 50, 50, 0.46);
transition: all 0.4s ease-in;
}
/* APP */
.panel-group.schedule .schedule-item.panel-default.panel,.panel-group.schedule .schedule-item.panel-default > .panel-heading{ border:0; padding:0; background-color: #252525; margin:0}
.panel-group.schedule .schedule-item .panel-body, .panel-group .panel-heading + .panel-collapse > .panel-body{background-color:#252525;border-top:0}
.light-bg{ background-color:#636363}
.dark-bg{background-color:#414141}
.darker-bg{background-color:#252525;transition: all 0.2s ease-in-out;}
.disabled{color:#575757}
.selected-date{border-left: solid 3px #fff; transition: all 0.2s ease-in-out;}
.panel-group.schedule .schedule-item:hover, .panel-group.schedule .schedule-item:hover .panel-title{
	transition: all 0.5s ease-in;
    background-color: #00a3f6;
    color: #fff
}
.panel-group.schedule .schedule-item.panel-default h2{color:#959595; font-weight:600}
.panel-group.schedule .schedule-item.panel-default .panel-title p,.panel-group.schedule .schedule-item.panel-default h2:hover{color:#fff}
.panel-group.schedule .schedule-item.panel-default .panel-title strong{ text-transform: uppercase;color: #00a3f6;
    font-weight: 600;
    font-size: 1.4em}
.panel-group.schedule .schedule-item:hover .panel-title strong{color: #2b2b2b;transition: all 0.5s ease-in;
    font-weight: 600; }
	
.panel-group.schedule .schedule-item.panel-default .panel-title .drop-content-icon{position: absolute;
    top: 5px;
    right: 25px;
    cursor: pointer;}
	h2 span.meridian{font-size:0.6em;}
.fa-angle-down,.fa-angle-up{ margin-top:-24px;}
.prev-week,.next-week{margin-top:20px;}
.video-thumbnail em{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    font-size: 60px;
    color: white
}
.list-inline>li a{color:#fff}
.list-inline>li a:hover,.video-thumbnail em:hover{color:#00a3f6; transition: all 0.3s ease-in-out}