body{ background:#000; font-family: "Courier New", Courier, monospace; color:#fff;}
.img-responsive{padding:0px;}
.cam {min-height:500px;}
.panel, .panel-default>.panel-heading,.btn, .form-control,.input-group-addon, option , option:hover{ background:none; color:#fff;}
.info {background:rgba(0,0,0,0.2); color:#fff; border:1px #fff solid; padding:2px 5px; width:15%; position: absolute; top:1%; right:5%; margin-right:1%; border-radius:5px; text-align:center;}
