/* 
    Document   : styles
    Created on : Apr 29, 2011, 3:40:06 PM
    Author     : Colin
    Description: styles.css

*/

/* 
   For Colin Michaels.com
   Syntax recommendation http://www.w3.org/TR/REC-CSS3/
*/

@font-face {
    font-family: 'GoodTimesRegular';
    /*src: url('../fonts/goodtime-webfont.eot');*/
    src: url('../fonts/goodtime-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/goodtime-webfont.woff') format('woff'),
         url('../fonts/goodtime-webfont.ttf') format('truetype'),
         url('../fonts/goodtime-webfont.svg#GoodTimesRegular') format('svg');
}
root { display: block;}
* { padding: 0; margin: 0; color: #FFF; }
*, body	{ 
            font-family: 'GoodTimesRegular',Tahoma; font-size: 95%;
            margin:0; padding:0;
            
         }
body {background-color:#000000; text-align: center; overflow:hidden;word-wrap:break-word; }
a{ text-decoration: none;}
a:hover{ text-decoration: underline; color: #cc0000; }
img{border:0;}
ul
{
list-style-type: none; 
padding: 0px;
margin: 0px;
}
li
{
background-image: url(../images/bullet.png);
background-repeat: no-repeat;

background-position: 0px 0px; 
padding-left: 14px; 
}

#page_wrap{
    height:100%;
    overflow: auto;
   /* -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg); -moz-transform:skewx(5deg) translatex(5px) translate3d(5deg) translatey(-100px);
   */

    
}
#main_content{
margin-top:200px;

}

#background{
    background-image:           url(../images/page_bkg.jpg);
    background-repeat:          no-repeat;
    background-position:        center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height:864px;
    width:1152px;
 }
 #colintop
 {
     
     width:560px;
     height:58px;
     position: relative;
     bottom: 800px;
     left:-30px;
     margin-left: auto;
     margin-right: auto;
     background-image: url(../images/menubar/colinmichaels.png);
     background-repeat:          no-repeat;
     background-position:        center;
     
}

#displaybox {
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
        text-align: left;
        z-index: 10000;
	filter: alpha(opacity=95); /*older IE*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95); /* IE */
	-moz-opacity: .95; /*older Mozilla*/
	-khtml-opacity: 0.95;   /*older Safari*/
	opacity: 0.95;   /*supported by current Mozilla, Safari, and Opera*/
	background-color:#000000;
	position:absolute;  left:150px; top:50px;  width:90%; height:60%; color:#FFFFFF; text-align:center; vertical-align:middle;
        
}
#displaybox p{
    margin-left: 150px;
   font-size: 1.1em;
  max-width: 600px;   
}
#displaybox input
{
    color:#000;
}
#closebox{
    width:80px;
    height:40px;
    position: relative;
    margin:10px;
    font-size: 12px;
    text-align: center;
    border:2px #500000 groove;
}
#bannerWrap {
    width:			500px;
    background-color:		transparent;
     margin:			25px auto;
}

#bannerBody {
    width:                      100%;

}

div.hoverBtn {
    position: 		relative;
    top:                -800px;
    left:               0px;
    float:			left;
    background:		url(../images/menubar/navBG.png) repeat-x 0 0 scroll;
}
div.hoverBtn a {
    font-family:        'GoodTimesRegular',Tahoma;
    position: 		relative;
    z-index: 		2;
    display: 		block;
    width:              62px;
    height: 		23px;
    line-height: 	25px;
    text-align: 	center;
    font-size:		1.02em;
    text-decoration:	none;
    color:              #500000;
    background:		transparent none repeat-x 0 0 scroll;
   /* -moz-box-shadow:  	7px 0 7px #000000;
    -webkit-box-shadow: 7px 0 7px #000000;*/
    /*text-shadow:        1.5px 1.5px #202020;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
}
div.hoverBtn div {
    display:		none;
    position: 		absolute;
    z-index: 		1;
    top: 			0px;
    background:		url(../images/menubar/navHover.png) repeat-x 0 0 scroll;
}
h1 {
    font-size:                  2.0em;
    margin:			0.5em 0;
}
p {
    padding-top:	10px;
    margin:			0.5em 0;
}

.clear	{ clear: both; }

.visible
{
    display: block;
    visibility: visible;
}

.hidden
{
    display: none;
}

/*html, body { height: 864px; width:1152px; margin-bottom: 1px; }*/


/**
 * Slideshow style rules.
 */
#slideshow {
 text-align: left;
margin:0 auto;
width:640px;
height:263px;
position:relative;
top: -815px;
left: 0px;
}

.box_bkg{
    background:transparent url(../images/menubar/slide_bg.png) no-repeat 0 0;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:550px;
  height:263px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:530px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:263px;
}
.slide h2, .slide p {
  margin:15px;
}

.slide p{
    text-shadow:        1.5px 1.5px #000;
    font-family: 'Courier New',Courier,monospace;
    font-size: 1.4em;
    line-height: 130%;
}

.slide h2{
    font-size: 1.7em;
    margin-left: 10px;
 }

.slide img {
  float:right;
  margin:0 15px;
}
#news_blog_R  /* right side */
{
 position: absolute;
 top:175px;
 right: 425px;
 
}
#news_blog_L  /*left side */
{
  position: absolute;
 top:175px;
 left: 425px;
}
.side_panels
{
 width: 200px;
 height: 300px;
 text-align: center;
 margin: 10px;
 /*background-color: #323131;*/
 /*background-image: url('/images/alpha30blk.png') repeat-x 0 0;*/
 background:transparent url(images/bkg_blk_66alpha.png) repeat 0 0;
 border-style: inset;
 border-width:  3px;
 border-color: #000000;
 text-shadow:        1.5px 1.5px #300000;
 
 border-radius: 10px;  
}
#mywork, #aboutme, #links, #contact
{
  text-shadow:        1.5px 1.5px #000;
  z-index: 0;
  margin:0 auto;
  text-align: center;
  overflow:auto; /* allow scrollbar */
  position:relative;
  top: -815px;
  left: 0px;
  width:640px;
  height:263px;
  
  overflow:auto; /* allow scrollbar */
  background-color: #000;
  /*border: 2px #500000 solid;*/
  background:transparent url(../images/menubar/slide_bg.png) no-repeat 0 0;
  cursor: help;

}
#mywork table{
    margin-left: 50px;
    width: 500px; 
}
#contact p, #aboutme p{
    
    font-size: 1.2em;
    font-family: 'Courier New',Courier,monospace;
    line-height: 95%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}
#results{
    background-color: black;
    color:white;
}

#call_but{
    position: absolute;
    z-index: 1001;
    top:20px;
    left:310px;
}

#qrcode{
    position: absolute;
    z-index: 1003;
    top:120px;
    left:260px;

}
.prog_examples{
    position: inherit;
    top: 0px;
    margin-left: 50px;
    text-align: left;
    font-size: 1.5em;
}
.links{
    position: inherit;
    top: 0px;
    text-indent: 10px;
    margin-left: 55px;
    text-align: left;
    font-size: 1.2em;
}
.links h2{
    font-size: 1.4em;
    color:#707070;
    text-decoration: underline;
}

.web_examples{
    position: inherit;
    top: 0px;
    margin-left: 10px;
    text-align: left;
    font-size: 1.4em;
}
.prog_examples h3{
    color:#707070;
    font-size: 1.2em;
    text-shadow:        1.5px 1.5px #000;
}

.notice{
    color:#cc0000;
    font-style: italic;
    font-size: 1.2em;
}

#contact input{
    color:#000;
    font-size: 10px;
    font-family: Arial;
}
#programming_slide_map{
    cursor: help;
}
.hr_spacer{
width:60%;
margin-left:auto;
margin-right:auto;
}


/**
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:39px;
  height:263px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:0;
  left:0;
  background:transparent url(../images/menubar/arrow_left.png) no-repeat 0 0;
}
#rightControl {
  top:0;
  right:0;
  background:transparent url(../images/menubar/arrow_right.png) no-repeat 0 0;
}

#footer  {
  margin:40px auto 0 auto;
  font-size: 0.9em;
  text-align: center;
  position: relative;
  top: -840px;
  left:-15px;
  display:block;
  background: transparent url("../images/footerbar.png") no-repeat 0 0;
  width:560px;
  height:45px;
}


#ww3tags{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    
}
#mediaBox
{
    margin:auto;
    padding:5px;
    z-index: 99;
    filter: alpha(opacity=70); /*older IE*/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE */
    -moz-opacity: .70; /*older Mozilla*/
    -khtml-opacity: 0.7;   /*older Safari*/
    opacity: 0.7;   /*supported by current Mozilla, Safari, and Opera*/
    background-color:#000000;
    width: 100%;
    height: 35px;
    position: fixed;
    right:0px;
    top: 0px;
    
 }
 google_adsense{
     
     margin:auto;
     z-index: 99;
     position: relative;
     top: 0px; right: 0px;
     background-color: black;
     
}

#gallery {
	position:relative;
	height:360px
}
	#gallery a {
		float:left;
		position:absolute;
	}

	#gallery a img {
		border:none;
	}

	#gallery a.show {
		z-index:500
	}

	#gallery .caption {
		z-index:600;
		background-color:#000;
		color:#ffffff;
		height:100px;
		width:100%;
		position:absolute;
		bottom:0;
	}

	#gallery .caption .content {
		margin:5px
	}

	#gallery .caption .content h3 {
		margin:0;
		padding:0;
		color:#1DCCEF;
	}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
    background: #000;
	position: relative;
}

.jspDrag
{
    background: #707070;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #500000;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
        background-image: url(../images/arrow_scroll_down.png);
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #500000;
        background-image: url(../images/arrow_scroll.png);
}

.jspVerticalBar .jspArrow
{
	height: 10px;
}

.jspHorizontalBar .jspArrow
{
	width: 10px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #878787;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

 p.c2 {color:black}
 span.c1 {color:blue; font-style: oblique;}



