.auth{
  margin-top:200px;
  .card{
    font-family:$font-family-base;
    background: $darkGray;
    color: $lightGray;
    border-color:$lightGray;
    .card-header{
      font-family:$headings-font-family;
      text-transform: uppercase;
      font-weight:600;
    }
  }

}
