section.grid-section {
  .grid-items {
	@include flexbox();
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(center);
	.grid-item {
	  @include flexbox();
	  @include flex-direction(column);
	  @include justify-content(center);
	  @include transform(translateY(0));
	  @include hover-transition();
	   padding:10px;
	  h5 {
		margin: 10px auto;
		color: $white;
		letter-spacing: -0.5px;
		@include hover-transition();
	  }

	  small {
		color: $green;
		@include hover-transition();
	  }

	  .grid-desc {
		position: absolute;
		bottom:0;
		width:100%;
		background: rgba($darkGray,0.7);
		padding: 20px;
		font-family: $font-family-base;
		@include flex(1 0 auto);
	  }

	  .gray-image {
		min-width: 100%;
		width: 100%;
		min-height: 260px;
		opacity: 0.5;
		-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		-o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		filter: gray;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		@include box-shadow();
		border: 5px solid transparent;
		-webkit-filter: grayscale(1);
		@include hover-transition();

		&:hover {
		  opacity: 1;
		  filter: none;
		  -webkit-filter: grayscale(0);
		  border: 5px solid $green;
		  @include box-shadow(0px 1px 10px 10px rgba(99, 252, 0, 0.34));
		  h5{
			color:$green;
		  }
		}
	  }
	  &:hover {
		@include transform(translateY(-10px));

		small{
		  color:$white;
		  font-size:1.2em;
		}
		h5{
		  color:$green;
		  i{
			color:$white;
			font-size:1.1em;
			  @include animate-css(bounce,2s,infinite);
		  }
		}
	  }
	}
  }
}
