#mainNav {
  font-family: $font-family-base;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 15px solid $green;
  background-color: rgba($black, 0.7);
  backdrop-filter: blur(14px);

  .navbar-toggler {
	-webkit-appearance: none;
	border: none;
	$span-space: 11px;

	.hamburger {
	  width: 30px;
	  height: 30px;
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  @include transform(rotate(0deg));
	  @include transition(.5s ease-in-out);
	  cursor: pointer;

	  span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;

		border-radius: 0;
		opacity: 1;
		left: 0;


		@include transition(0.5s ease-in-out);


		background:$red;

		&:nth-child(1) {
		  @include transform(rotate(-45deg));
		}

		&:nth-child(2) {
		  @include transform(rotate(45deg));
		}

		&:nth-child(3) {
		  @include transform(rotate(-45deg));
		}

		&:nth-child(4) {
		  @include transform(rotate(0deg));
		  top: $span-space;
		  width: 0;
		  left: 50%;
		}

	  }

	  &.collapsed {
		span {

		  background: $green;
		  @include transform(rotate(0deg));

		  &:nth-child(1) {
			top: 0;
		  }

		  &:nth-child(2), &:nth-child(3) {
			top: $span-space
		  }

		  &:nth-child(4) {
			top: $span-space * 2;
		  }
		}
	  }
	}

  }

  .navbar-brand {
	font-weight: 700;
	width: 100%;
	max-width: 325px;

	small {
	  font-size: 0.7em;
	  text-transform: none !important;

	  em {
		color: $red;
		text-transform: none;
	  }

	  span {
		color: $green;

	  }
	}
  }

  a {
	color: $white;

	&:hover, &:active {
	  color: $white;
	  text-decoration: none;
	}
  }

  ul.navbar-nav {
	li.nav-item {
	  @include transition(all 0.3s ease-in-out);
	  list-style-type: none;

	  &:hover {
		color: fade($green, 80%);
		outline: none;
		background-color: transparent;
	  }

	  &:active,
	  &:focus {
		outline: none;
		background-color: transparent;
	  }
	}
  }

  .dropdown-menu {
	background: $lightGray;
	color: $darkGray;

	a.dropdown-item {
	  color: $darkGray;
	}
  }

  .collapse {
	&.in {
	  display: block;
	}
  }

  @media(min-width: 992px) {
	letter-spacing: 2.3px;
	&.navbar-shrink {
	  .navbar-brand {
		max-width: 250px;
	  }
	}
	.nav-link.active {
	  outline: none;
	  background-color: white;

	  &:hover {
		color: white;
	  }
	}
  }
}
#sub-nav{
  top:85px;
}
