section#work {
 .project {
   h5 {
	 color: $white;
	 letter-spacing: -0.5px;
	 @include hover-transition();
   }
   small {
	 color: $green;
	 @include hover-transition();
   }
   img {
	 min-width: 100%;
	 width: 100%;
	 min-height:250px;
	 opacity: 0.5;
	 @include box-shadow();
	 @include hover-transition();
	 @include filter(grayscale(1));
	 &:hover {
	   opacity: 1;
	   @include filter(grayscale(0));
	   @include box-shadow(0px 1px 10px 10px rgba(99, 252, 0, 0.34));
	   h5 {
		 color: $green;
	   }
	 }
   }
   &:hover {
	 @include transform(translateY(-5px));

	 small {
	   color: $white;
	   font-size: 1.1em;
	 }

	 h5 {
	   color: $green;

	   i {
		 color: $white;
		 font-size: 1.1em;
		 @include animate-css(bounce, 2s, infinite);
	   }
	 }
   }
 }
}
