.btn {
  font-family: $font-family-base;
  font-weight: 400;
  @include transition(all 0.3s ease-in-out);
  text-transform: uppercase;
  border-radius: 0;
  &.btn-primary {
    background-color: $green;
    border: transparent;
  }

  &.btn-circle, &.btn-square{
    padding:1rem !important;
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    &:hover {
      i {
        @include animate-css(fadeInDown, 1s, infinite);
      }
    }
  }

  &.btn-default {
  color: $green;
  border: 1px solid $green;
  background-color: transparent;

  &:focus,
  &:hover {
    color: black;
    border: 1px solid $green;
    outline: none;
    background-color: $green;

  }
}
}

