/* **************************************************************** */
/* *****************  BREAKPOINT: Tablet - 785px ****************** */
/* **************************************************************** */

@media only screen and (max-width: $breakpoint-tablet) {

  .portfolio-site {
	width: 100% !important;
  }
  .btn-default{
	 width:100% !important;
  }
  header.masthead{
	margin-top:0 !important;
  }

  .section {
	padding: 10px 0;
  }
  #mainNav {
	.navbar-nav {
	  background: rgba($black, 0.9);
	  padding-top: 50px;

	  a {
		font-size: 1.75em;
	  }
	}

	.navbar-brand {
	  max-width: 250px !important;

	}
  }
}
