h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  font-weight: 400;
  margin: 0 0 10px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem
}

h3{
  font-size:1.5em;
  font-weight: 700;
  line-height: 1.3em;
}
h4{
   font-size:1.2em;
}
h5{

}

p {
  font-size: 23.25px;
  line-height: 1.45;
  margin: 0 0 15px;
  padding: 10px 0;
  letter-spacing: -0.4px;
  font-weight:400;
  text-align:left;
}
