// Variables
$primary: #50b900;

$lightGray: #f7f0ee;
$darkGray: rgb(25, 25, 25);
$textWhite: #fff;
$textGray: #6a6a6a;
$green: rgb(81, 194, 12);
$lightGreen: #9df816;
$hoverColor: $lightGreen;
$primary:$green !important;

$white: #fff;
$black:#000;
$red: #ff0000;

$background-gradient: linear-gradient(90deg, $black 0%, rgba(15,15,15,1) 25%,  rgba(15,15,15,1) 75%, $black 100%);

//
//$font-family-base:   'Mallanna', sans-serif !important;
$font-family-base:  'Roboto Condensed', sans-serif;
//$headings-font-family:  'Expletus Sans', cursive !important;
$headings-font-family:  'Ubuntu', sans-serif;

/* MEDIA QUERY BREAKPOINTS */
$breakpoint-desktop-large : 1920px;
$breakpoint-desktop-med : 1440px;
$breakpoint-desktop-mid : 1295px;
$breakpoint-desktop-small : 1060px;
$breakpoint-tablet-large : 895px;
$breakpoint-tablet : 785px;
$breakpoint-phone : 480px;

//inputs
$input-border-radius: 0;
$input-border-color: transparent;
