body {
  font-family: $font-family-base;
  position: relative;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  color: $textWhite;
  background: $darkGray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  -webkit-tap-highlight-color: fade-out(white, .8);
}

html {
  width: 100%;
  height: 100%;
}

#wrapper{
  min-height:100%;
  position: relative;
  height:100%;
}

::-moz-selection {
  background: $green;
  background: fade-out($green, .4);
  text-shadow: none;
}

::selection {
  background: $green;
  background: fade-out($green, .4);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}


input, textarea, select {
  border: none !important;
}

a {
  @include hover-transition();
  color: $red;

  &:focus,
  &:hover {
	text-decoration: none;
	color: $hoverColor;
  }
}

ul{
  padding-inline-start:20px;
  li{
	list-style-type: square;
  }
}


hr{
  &.green{
	background: $green;
	height:4px;
  }
}

.overlay{
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0;
  display: block;
  z-index: 999999;
  background:$darkGray;
  @include animate-css(fadeOut,4s);
}

.box-wrap {
  padding: 10px;
  margin: 50px auto;
}

#app{
  margin-top:100px;
}

section#intro {

	h1.brand-heading {
	  font-size: 50px;
	}

	h3.sub-heading {
	  font-size: 35px;
	  color: $green;
	}

}

section.section {
	padding:50px 0;
	.sub-heading {
	  @include no-select();
	}
  a {
	color: $green;
  }
  .section-header {
	position: relative;
	width: 100%;
	margin: 0 auto 20px;
	text-align: left;
	@include no-select();

	a {
	  color: $green;
	}

	h2 {
	  font-weight:700;
	  &:after {
		content: "";
		position: absolute;
		height: 4px;
		background: $green;
		width: 100%;
		bottom: -5px;
		left: 0;
	  }
	}
  }

  &.section-dark {
  background: $background-gradient;
  color: $white !important;


  .btn-square {
	color: $lightGray;
	border: 2px solid $green;
	background: transparent;
	font-size: 1.4em;
	@include hover-transition();

	&:hover {
	  color: $darkGray;
	  border-color: $darkGray;
	  background: $hoverColor;
	}
  }

  .btn-default {
	color: $lightGray;
	background: transparent;
	@include hover-transition();

	&:hover {
	  color: $textGray;
	  background: $lightGray;
	}
  }
}

  &.section-light {
	background: $lightGray;
	color: $textGray;

	h1.brand-heading {
	  font-weight: bold;
	  font-size: 5em !important;
	  text-align: justify;
	  @include no-select();
	}

	.btn-square {
	  color: $darkGray;
	  border: 2px solid $green;
	  background: transparent;
	  @include hover-transition();
	  @include no-select();

	  &:hover {
		color: $hoverColor;
		border-color: $hoverColor;
		background: $darkGray;
	  }
	}

	.btn-default {
	  color: $textGray;
	  background: transparent;
	  @include hover-transition();

	  &:hover {
		color: $lightGray;
		background: $darkGray;
	  }
	}
  }

  &.section-grey {
	box-shadow: inset 0 10px 5px 1px rgba(#000, 0.30);
	background: $darkGray;
	.btn-square {
	  color: $white;
	  border: 2px solid $green;
	  background: transparent;
	  @include hover-transition();
	  @include no-select();

	  &:hover {
		color: $hoverColor;
		border-color: $hoverColor;
		background: $darkGray;
	  }
	}

	.btn-default {
	  color: $white;
	  background: transparent;
	  @include hover-transition();

	  &:hover {
		color: $lightGray;
		background: $darkGray;
	  }
	}
  }
}


footer {
  padding: 10px 0;
  height:255px;
  background: $black;
  position:relative;
  bottom:0;
  width:100%;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);

  p {
	font-size: 14px;

	margin: 0;
  }

  a {
	color: $white;
  }
}



.full-bkg {
  background-clip: border-box;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.form-control {
  input {
	background: transparent !important;
  }
}
